In [1]:
import pandas as pd

In [23]:
df = pd.read_excel('./Data/2410_iPAGE_SoilData_original.xlsx')
df.columns

Index(['Area', 'soil group', 'Land class', 'knit (surface)', 'pH', 'SOC (%)',
       'Nitrogen N (%)', 'Potassium K (meq/100)', 'Phosphorus P (ug/g)',
       'Sulfur S (ug/g)', 'Boron B (ug/g)', 'Zinc Zn (ug/g)'],
      dtype='object')

In [3]:
df.shape

(618, 12)

In [4]:
df.isna().sum()
# column Knit (surface has 157 NaN values)

Area                       0
soil group                 0
Land class                 0
knit (surface)           157
pH                         0
SOC (%)                    0
Nitrogen N (%)             0
Potassium K (meq/100)      0
Phosphorus P (ug/g)        0
Sulfur S (ug/g)            0
Boron B (ug/g)             0
Zinc Zn (ug/g)             0
dtype: int64

In [6]:
df.dtypes
# here we can see that all the numerical columns other than SOC has some non numerical entries in it.

Area                      object
soil group                object
Land class                object
knit (surface)            object
pH                        object
SOC (%)                  float64
Nitrogen N (%)            object
Potassium K (meq/100)     object
Phosphorus P (ug/g)       object
Sulfur S (ug/g)           object
Boron B (ug/g)            object
Zinc Zn (ug/g)            object
dtype: object

In [40]:
#checking the number of non numerical entries in the numerical columns
for i in range(4,len(df.columns)):
    num_non_numeric = pd.to_numeric(df[df.columns[i]],errors='coerce').isnull().sum()
    print(df.columns[i],":",num_non_numeric)

pH : 2
SOC (%) : 0
Nitrogen N (%) : 8
Potassium K (meq/100) : 2
Phosphorus P (ug/g) : 2
Sulfur S (ug/g) : 1
Boron B (ug/g) : 27
Zinc Zn (ug/g) : 1

In [44]:
# checking the non numerical values in each of these columns
for i in range(4,len(df.columns)):
    is_non_numeric = pd.to_numeric(df[df.columns[i]],errors='coerce').isnull()
    print(df.columns[i])
    print(df[is_non_numeric][df.columns[i]])
    print('-----------------------------------')

pH
151    4..80
533     5.`3
Name: pH, dtype: object
-----------------------------------
SOC (%)
Series([], Name: SOC (%), dtype: float64)
-----------------------------------
Nitrogen N (%)
382    Very Low
389    Very Low
390    Very Low
402    Very Low
412    Very Low
413    Very Low
415    Very Low
617    Very Low
Name: Nitrogen N (%), dtype: object
-----------------------------------
Potassium K (meq/100)
471     .0.15
512    ..0.30
Name: Potassium K (meq/100), dtype: object
-----------------------------------
Phosphorus P (ug/g)
439    0.65.87
472     ......
Name: Phosphorus P (ug/g), dtype: object
-----------------------------------
Sulfur S (ug/g)
337    13..8
Name: Sulfur S (ug/g), dtype: object
-----------------------------------
Boron B (ug/g)
67        0.`44
364    Very Low
368    Very Low
369    Very Low
370    Very Low
372    Very Low
374    Very Low
376    Very Low
378    Very Low
380    Very Low
381    Very Low
382    Very Low
387    Very Low
389    Very Low
390    Very Low
392    Very Low
395    Very Low
396    Very Low
397    Very Low
402    Very Low
404    Very Low
407    Very Low
408    Very Low
410    Very Low
412    Very Low
415    Very Low
416    Very Low
Name: Boron B (ug/g), dtype: object
-----------------------------------
Zinc Zn (ug/g)
564    0..36
Name: Zinc Zn (ug/g), dtype: object
-----------------------------------